---
sitename: Switchbyte
description: Switchbyte
url: https://switchbyte.nl
---

<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <title>{{ sitename }}</title>
  <link rel="stylesheet" href="/css/main.css">

  <meta name="description" content="{{ description }}">
  <meta property="og:title" content="{{ sitename }}">
  <meta property="og:description" content="{{ description }}">
  {# <meta property="og:image" content="https://www.mywebsite.com/image.jpg">
  <meta property="og:image:alt" content="Image description"> #}
  <meta property="og:locale" content="nl_NL">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:url" content="{{ baseUrl }}">
  <link rel="canonical" href="{{ baseUrl }}">

  {# <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/my.webmanifest">
  <meta name="theme-color" content="#FF00FF"> #}
</head>

<body>
  {{ content | safe }}
</body>
</html>