---
layout: layout.njk
---

<div class="flex items-center justify-center h-screen bg-gray-200 dark:bg-gray-900">
  <div class="container">
    <div class="bg-white dark:bg-gray-700 rounded-lg shadow-lg p-5 md:p-20 mx-auto max-w-4xl">
      <div class="text-center">
        <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 dark:text-gray-300 sm:text-5xl sm:leading-none md:text-6xl">
          Switch<span class="text-indigo-500 dark:text-indigo-500">byte</span>
        </h2>
        <h3 class='text-xl md:text-3xl mt-10 text-gray-900 dark:text-gray-300'>Coming Soon</h3>
      </div>
    </div>
  </div>
</div>